* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}


#container {
    width: 750px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#partOne {
    display: inline-block;
    height: 100%;
    width: 60%;
    color: white;

}

h1  {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
}

p {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 15px;
}

.clik {
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
}


#bcg {
    display: inline-block;
    background-image: url("Capture.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    width: 39%;
    height: 100%;
    position: relative;
    bottom: 251px;
    right: 5px;
}

#nameG {
    display: inline-block;
    width: 300px;
    height: 145px;
    background-color: green;
}

#profilY {
    display: inline-block;
    width: 150px;
    height: 145px;
    background-color: orange;
    position: relative;
    bottom: 145px;
    left: 300px;
    text-align: center;
}

#xpB {
    display: inline-block;
    width: 150px;
    height: 145px;
    background-color: blue;
    position: relative;
    right: 154px;
    text-align: center;
}

#educR {
    display: inline-block;
    width: 150px;
    height: 147px;
    background-color: red;
    position: relative;
    bottom: 145px;
    left: 150px;
    text-align: center;
}

#blogG {
    display: inline-block;
    width: 150px;
    height: 145px;
    background-color: green;
    position: relative;
    bottom: 145px;
    left: 146px;
    text-align: center;
}

#socialO {
    display: inline-block;
    width: 150px;
    height: 148px;
    background-color: orange;
    position: relative;
    bottom: 147px;
    text-align: center;
}

#plus {
    font-size: 62px;
    font-weight: bold;
    margin-right: 5px;
}

#contactB {
    display: inline-block;
    width: 150px;
    height: 148px;
    background-color: blue;
    position: relative;
    bottom: 147px;
    right: 5px;
    text-align: center;
}

#portO {
    display: inline-block;
    width: 150px;
    height: 148px;
    background-color: orange;
    position: relative;
    bottom: 295px;
    left: 299px;
    text-align: center;
}

i {
    display: inline-block;
    margin-top: 24px;
    font-size: 47px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 18px;
}

img {
    margin-top: 20px;
}

.lien {
    position: relative;
    bottom: 19px;
}